{% extends 'layout.html' %}

{% block body %}

{% if tr == False %}

<div class="alert alert-primary" role="alert">
    Terminarz chwilowo niedostępny. Przepraszamy.
</div>

{% else %}

{% for k in range(14) %}

<h4>Kolejka {{k+1}}</h4>
<div class="table-responsive">
    <table class="table w-100 table-responsive">
        <tr>{% for i in range(4) %}
            <td class="col host all">
                {{tr[k][i][4]}}
            </td>
            <td class="col guest all">{{tr[k][i][5]}}</td>
            <td class="col result all"><strong>{{tr[k][i][6]}}</strong></td>
            <td class="col term all">{{tr[k][i][0]}}.{{tr[k][i][1]}}.{{tr[k][i][2]}} g. {{tr[k][i][3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<p class="mb-5"></p>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/celuloza.js') }}"></script>
{% endblock %}