{% extends 'layout.html' %}

{% block body %}

<div class="head text-uppercase text-center">Terminarz U-19</div>

<h4 class="mt-3">Następny mecz:</h4>
{% set ts = celuloza19ng[0] | string %}
<p class="date">{{ts[8:10]}}.{{ts[5:7]}}.{{ts[0:4]}} g.{{ts[11:16]}}</p>
<div class="table-responsive mb-5">
    <table class="table w-100 table-responsive">
        <tr>
            <td class="col text-center"><img class="img-fluid w-25 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
            <td class="col text-center"><img class="img-fluid w-25 pb-3 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
        </tr>
        <tr>
            <td class="col host all text-center club">
                {{celuloza19ng[1]}}
            </td>
            <td class="col guest all text-center club">{{celuloza19ng[2]}}</td>
        </tr>
    </table>
</div>

{% if game == False %}

{% for i in range(celuloza|length) %}
<h5 class="mt-3">Kolejka {{celuloza[i][4]}}</h5>
{% set ts = celuloza[i][0] | string %}
<p class="date">{{ts[8:10]}}.{{ts[5:7]}}.{{ts[0:4]}} g.{{ts[11:16]}}</p>
<div class="table-responsive">
    <table class="table w-100 table-responsive">
        <tr>
            <td class="col host all">
                {{celuloza[i][1]}}
            </td>
            <td class="col guest all">{{celuloza[i][2]}}</td>
            <td class="col result all"><strong>{{celuloza[i][3]}}</strong></td>
        </tr>
    </table>
</div>
{% endfor %}

{% else %}

{% for k in range(14) %}

<h4>Kolejka {{k+1}}</h4>
<div class="table-responsive">
    <table class="table w-100 table-responsive">
        <tr>{% for i in range(4) %}
            <td class="col host all">
                {{game[k][i][4]}}
            </td>
            <td class="col guest all">{{game[k][i][5]}}</td>
            <td class="col result all"><strong>{{game[k][i][6]}}</strong></td>
            <td class="col term all">{{game[k][i][0]}}.{{game[k][i][1]}}.{{game[k][i][2]}} g. {{game[k][i][3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<p class="mb-5"></p>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/celuloza.js') }}"></script>
<script src="{{ url_for('static', filename='js/last.js') }}"></script>
{% endblock %}