{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Rejestracja</a>
    <a href="/login" class="btn btn-success btn-lg">Logowanie</a>
    {% else %}
    <a href="/dashboard" class="btn btn-success btn-lg">Panel administrayjny</a>
    {% endif %}
</div>
{% endblock %}