{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4">Kadra</h1>
</div>

<h2 class="text-center text-uppercase mt-3">Bramkarze</h2>

<div class="card-group mt-3">

    <div class="card">
        <img class="card-img-top scale rounded w-50 mx-auto"
            src="{{url_for('static', filename='images/skrzypczak.jpg')}}" alt="Skrzypczak Szymon">
        <div class="card-body">
            <h5 class="card-title text-center">Skrzypczak Szymon</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top scale rounded w-50 mx-auto"
            src="{{url_for('static', filename='images/wierzbowski.jpg')}}" alt="Wierzbowski Paweł">
        <div class="card-body">
            <h5 class="card-title text-center">Wierzbowski Paweł</h5>
        </div>
    </div>
</div>

<h2 class="text-center text-uppercase mt-3">Obrońcy</h2>

<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top avatar w-75 mx-auto" src="{{url_for('static', filename='images/baranowski.jpg')}}"
            alt="Baranowski Jakub">
        <div class="card-body">
            <h5 class="card-title text-center">Baranowski Jakub</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/bakalarz.jpg')}}"
            alt="Bakalarz Jakub">
        <div class="card-body">
            <h5 class="card-title text-center">Bakalarz Jakub</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/bogusz.jpg')}}"
            alt="Bogusz Stanisław">
        <div class="card-body">
            <h5 class="card-title text-center">Bogusz Stanisław</h5>
        </div>
    </div>
</div>

<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top avatar w-75 mx-auto" src="{{url_for('static', filename='images/jankowski.jpg')}}"
            alt="Jankowski Sebastian">
        <div class="card-body">
            <h5 class="card-title text-center">Jankowski Sebastian</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/klebieko.jpg')}}"
            alt="Klebieko Gracjan">
        <div class="card-body">
            <h5 class="card-title text-center">Klebieko Gracjan</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto"
            src="{{url_for('static', filename='images/krawczynski.jpg')}}" alt="Krawczyński Bartosz">
        <div class="card-body">
            <h5 class="card-title text-center">Krawczyński Bartosz</h5>
        </div>
    </div>
</div>

<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/misun.jpg')}}"
            alt="Misun Adrian">
        <div class="card-body">
            <h5 class="card-title text-center">Misun Adrian</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top avatar w-75 mx-auto" src="{{url_for('static', filename='images/raczkowski.jpg')}}"
            alt="Raczkowski Igor">
        <div class="card-body">
            <h5 class="card-title text-center">Raczkowski Igor</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto"
            src="{{url_for('static', filename='images/soczomski.jpg')}}" alt="Soczomski Konrad">
        <div class="card-body">
            <h5 class="card-title text-center">Soczomski Konrad</h5>
        </div>
    </div>
</div>

<h2 class="text-center text-uppercase mt-5">Pomocnicy</h2>

<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top avatar w-75 mx-auto" src="{{url_for('static', filename='images/bzdziel.jpg')}}"
            alt="Bździel Dawid">
        <div class="card-body">
            <h5 class="card-title text-center">Bździel Dawid</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top avatar w-75 mx-auto" src="{{url_for('static', filename='images/jankowski.jpg')}}"
            alt="Jankowski Sebastian">
        <div class="card-body">
            <h5 class="card-title text-center">Jankowski Sebastian</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/jacewicz.jpg')}}"
            alt="Jacewicz Adrian">
        <div class="card-body">
            <h5 class="card-title text-center">Jacewicz Adrian</h5>
        </div>
    </div>
</div>

<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/cudakm.jpg')}}"
            alt="Cudak Maciej">
        <div class="card-body">
            <h5 class="card-title text-center">Cudak Maciej</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto"
            src="{{url_for('static', filename='images/krawczynski.jpg')}}" alt="Krawczyński Bartosz">
        <div class="card-body">
            <h5 class="card-title text-center">Krawczyński Bartosz</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto"
            src="{{url_for('static', filename='images/markowski.jpg')}}" alt="Markowski Ernest">
        <div class="card-body">
            <h5 class="card-title text-center">Markowski Ernest</h5>
        </div>
    </div>
</div>

<div class="card-group mt-3">

    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/misun.jpg')}}"
            alt="Misun Adrian">
        <div class="card-body">
            <h5 class="card-title text-center">Misun Adrian</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto"
            src="{{url_for('static', filename='images/olszewski.jpg')}}" alt="Olszewski Dawid">
        <div class="card-body">
            <h5 class="card-title text-center">Olszewski Dawid</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/migdalm.jpg')}}"
            alt="Migdal Mateusz">
        <div class="card-body">
            <h5 class="card-title text-center">Migdal Mateusz</h5>
        </div>
    </div>

</div>

<h2 class="text-center text-uppercase mt-5">Napastnicy</h2>

<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/banda.jpg')}}"
            alt="Banda Mateusz">
        <div class="card-body">
            <h5 class="card-title text-center">Banda Mateusz</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto"
            src="{{url_for('static', filename='images/siemieniecki.jpg')}}" alt="Siemieniecki Krystian">
        <div class="card-body">
            <h5 class="card-title text-center">Siemieniecki Krystian</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top scale rounded w-75 mx-auto" src="{{url_for('static', filename='images/siron.jpg')}}"
            alt="Siroń Daniel">
        <div class="card-body">
            <h5 class="card-title text-center">Siroń Daniel</h5>
        </div>
    </div>
</div>

<p></p>

<h2 class="text-center text-uppercase mt-5">Sztab</h2>
<div class="card-group mt-3">
    <div class="card">
        <img class="card-img-top w-75 mx-auto" src="{{url_for('static', filename='images/dorniak.jpg')}}"
            alt="Dorniak Łukasz">
        <div class="card-body">
            <h5 class="card-title text-center text-uppercase">Dorniak Łukasz</h5>
            <p class="text-center">tel. 696 007 349</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-75 mx-auto" src="{{url_for('static', filename='images/kedzior.jpg')}}"
            alt="Kędzior Władysław">
        <div class="card-body">
            <h5 class="card-title text-center text-uppercase">Kędzior Władysław</h5>
            <p class="text-center">tel. 123 456 789</p>
        </div>
    </div>
</div>
{% endblock %}