<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    {% if slider %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css')}}">
    {% endif %}


    <title>TS Celuloza Kostrzyn nad Odrą</title>
</head>

<body>
    <header>
        {% include 'includes/_navbar.html' %}

        {% if slider %}

        <!-- SLIDER -->
        <div class="slider d-block">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="{{url_for('static', filename='images/1.JPG')}}" class="d-block w-100"
                            alt="rywalizacja">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-center text-uppercase">Rywalizacja</h1>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="{{url_for('static', filename='images/3.JPG')}}" class="d-block w-100"
                            alt="poświęcenie">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-center text-uppercase">Poświęcenie</h1>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="{{url_for('static', filename='images/4.JPG')}}" class="d-block w-100" alt="radość">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-center text-uppercase">Radość</h1>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
        {% endif %}
    </header>

    {% if not slider %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 p-3 mt-3">
                    {% include 'includes/_messages.html' %}
                    {% block body %}{% endblock %}
                </div>
                <div class="col-xl-4 p-3 mt-3 text-center">

                    <div class="head text-uppercase text-center">Następny mecz</div>
                    <div class="row">
                        <p class="fs-4"><b>14.03.2021</b>, g. 11:00</p>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img class="img-fluid w-100" src="{{url_for('static', filename='images/budowlani.png')}}"
                                alt="Następny mecz">
                        </div>

                        <div class="col-2 fs-1 d-flex align-items-center justify-content-center">
                            <p>:</p>
                        </div>

                        <div class="col-5">
                            <img class="img-fluid w-100" src="{{url_for('static', filename='images/logo.png')}}"
                                alt="Następny mecz">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <p class="text-center fs-4">Budowlani Murzynowo</p>
                        </div>

                        <div class="col-2 fs-1 d-flex align-items-center justify-content-center">
                        </div>

                        <div class="col-5">
                            <p class="text-center fs-4">TS Celuloza</p>
                        </div>
                    </div>

                    <div class="head text-uppercase text-center">Ostatni mecz</div>
                    <div class="row">
                        <p class="fs-4"><b>14.11.2020</b>, g. 13:00</p>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img class="img-fluid w-100" src="{{url_for('static', filename='images/lubuszanin.png')}}"
                                alt="Następny mecz">
                        </div>

                        <div class="col-2 fs-1 d-flex align-items-center justify-content-center">
                            <p>0:1</p>
                        </div>

                        <div class="col-5">
                            <img class="img-fluid w-100" src="{{url_for('static', filename='images/logo.png')}}"
                                alt="Następny mecz">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <p class="text-center fs-4">Lubuszanin Drezdenko</p>
                        </div>

                        <div class="col-2 fs-1 d-flex align-items-center justify-content-center">
                        </div>

                        <div class="col-5">
                            <p class="text-center fs-4">TS Celuloza</p>
                        </div>

                        <div class="head text-uppercase text-center">Facebook</div>
                        <div class="fb-page" data-tabs="timeline,events,messages"
                            data-href="https://www.facebook.com/tscelulozakostrzyn" data-width="360" data-height="500"
                            data-hide-cover="false">
                        </div>
                        <section>
                            <div class="head text-uppercase text-center">Sponsorzy</div>
                            <div class="sponsorzy text-center">
                                <a href="http://www.kostrzyn.pl" target=_blank><img src="img/kostrzyn.png"
                                        alt="Urząd Miasta Kostrzyn nad Odrą"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://kssse.pl" target=_blank><img src="img/psi.png"
                                        alt="Polska Strefa Inwestycji"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="https://www.mosir-kostrzyn.pl/" target="_blank"><img src="img/mosir.png"
                                        alt="Miejski Ośrodek Sportu i Rekreacji"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://brinkhaus.de/" target="_blank"><img src=" img/Brinkhaus.png"
                                        alt="Brinkhaus"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://www.szkolathebest.pl/" target="_blank"><img src="img/best.png"
                                        alt="Szkoła Językowa Best"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://www.kompan-commercialsystems.com/" target="_blank"><img
                                        src="img/kompan.png" alt="Kompan Manufacturing"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://www.ictgroup.net/pl/" target="_blank"><img src="img/ict.png"
                                        alt="ICT Polska"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://hotel-bastion.pl/" target="_blank"><img src="img/bastion.png"
                                        alt="Bastion"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="https://bestbuty.pl/" target="_blank"><img src="img/bestbuty.png"
                                        alt="Best buty"></a>
                            </div>
                            <div class="sponsorzy text-center"><a href="#">
                                    <img src="img/select.png" alt="Select"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="https://www.foxy.eu/pl/marka" target="_blank"><img src="img/foxy.jpg"
                                        alt="Foxy"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="http://www.drewform.pl/" target="_blank"><img src="img/drewform.png"
                                        alt="Drew form"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="https://start.avonpolska.pl/olga" target="_blank"><img src="img/avon.png"
                                        alt="Avon"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="#"><img src="img/masita.png" alt="Masita"></a>
                            </div>
                            <div class="sponsorzy text-center">
                                <a href="https://perfekt-pralnia.pl/kontakt/" target="_blank"><img src="img/pralnia.png"
                                        alt="Pralnia Perfekt"></a>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <footer>
        <div class="copyright"><a href="/admin" class="text-decoration-none admin"> &copy; 2021 | TS Celuloza
                Kostrzyn
                nad Odrą</a></div>
    </footer>
    {% endif %}


    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v9.0"
        nonce="rAo6E6jA"></script>
    <script src="//cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        CKEDITOR.replace('editor')
    </script>
</body>

</html>