{% extends 'layout.html' %}

{% block body %}

{% if sen[0] or js[1] or jm[2] or tr[3] %}

<div class="head text-uppercase text-center">Dziś grają</div>

{% endif %}

{% if sen[0] == True %}

<h4 class="text-center">Senior</h4>

{% set ts = next_game[2] | string %}
<p class="date text-center">{{ts[8:10]}}.{{ts[5:7]}}.{{ts[0:4]}} g.{{ts[11:16]}}</p>
<div class="table-responsive mb-5">
    <table class="table w-100 table-responsive">
        <tr>
            <td class="col text-center"><img class="img-fluid w-25 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
            <td class="col text-center"><img class="img-fluid w-25 pb-3 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
        </tr>
        <tr>
            <td class="col host all text-center club">
                {{next_game[0]}}
            </td>
            <td class="col guest all text-center club">{{next_game[1]}}</td>
        </tr>
    </table>
</div>


{% endif %}

{% if js[1] == True %}

<h4 class="text-center">Junior starszy</h4>

{% set ts = celuloza19ng[0] | string %}
<p class="date text-center">{{ts[8:10]}}.{{ts[5:7]}}.{{ts[0:4]}} g.{{ts[11:16]}}</p>
<div class="table-responsive mb-5">
    <table class="table w-100 table-responsive">
        <tr>
            <td class="col text-center"><img class="img-fluid w-25 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
            <td class="col text-center"><img class="img-fluid w-25 pb-3 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
        </tr>
        <tr>
            <td class="col host all text-center club">
                {{celuloza19ng[1]}}
            </td>
            <td class="col guest all text-center club">{{celuloza19ng[2]}}</td>
        </tr>
    </table>
</div>


{% endif %}


{% if jm[2] == True %}

<h4 class="text-center">Junior młodszy</h4>

{% set ts = next_gamejm[0] | string %}
<p class="date text-center">{{ts[8:10]}}.{{ts[5:7]}}.{{ts[0:4]}} g.{{ts[11:16]}}</p>
<div class="table-responsive mb-5">
    <table class="table w-100 table-responsive">
        <tr>
            <td class="col text-center"><img class="img-fluid w-25 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
            <td class="col text-center"><img class="img-fluid w-25 pb-3 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
        </tr>
        <tr>
            <td class="col host all text-center club">
                {{next_gamejm[1]}}
            </td>
            <td class="col guest all text-center club">{{next_gamejm[2]}}</td>
        </tr>
    </table>
</div>

{% endif %}


{% if trng[3] == True %}

<h4 class="text-center">Trampkarz</h4>

{% set ts = next_gametr[0] | string %}
<p class="date text-center">{{ts[8:10]}}.{{ts[5:7]}}.{{ts[0:4]}} g.{{ts[11:16]}}</p>
<div class="table-responsive mb-5">
    <table class="table w-100 table-responsive">
        <tr>
            <td class="col text-center"><img class="img-fluid w-25 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
            <td class="col text-center"><img class="img-fluid w-25 pb-3 change"
                    src="{{url_for('static', filename='images/logo.png')}}" alt="
                    logo"></td>
        </tr>
        <tr>
            <td class="col host all text-center club">
                {{next_gametr[1]}}
            </td>
            <td class="col guest all text-center club">{{next_gametr[2]}}</td>
        </tr>
    </table>
</div>

{% endif %}

<h1 class="mb-2">Aktualności</h1>

<ul id="page" class="list-group">
    {% for article in articles %}
    <li class="list-group-item pb-3">
        <h2 class="mt-2 mb-0"><a href="articles/{{article[0]}}"
                class="news-link d-block mb-0 text-decoration-none">{{article[1]}}</a>
        </h2>
        <small>Dodane dnia <b>{{article[4][8:10]}}.{{article[4][5:7]}}.{{article[4][0:4]}}</b> o godzinie
            {{article[4][11:16]}}</small>


        <!-- {% set news = article[3][0:1000] %} -->
        {% set news = article[3] %}
        <div class="mt-3 news">{{ news | safe }}
            <!-- {% if article[3]|length > 1000 %}
            <a href="/articles/{{article[0]}}"> ...<strong>więcej</strong></a>
            {% endif %} -->
        </div>
    </li>
    {% endfor %}
</ul>

<nav aria-label="Page navigation example">
    <ul class="pagination mt-2">
        <li id="previous-page"><a class="page-link" href="javascript:void(0)" aria-label=Previous><span
                    aria-hidden=true>&laquo;</span></a></li>
    </ul>
</nav>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/news.js') }}"></script>
<script src="{{ url_for('static', filename='js/celuloza.js') }}"></script>
<script src="{{ url_for('static', filename='js/last.js') }}"></script>
{% endblock %}