{% extends 'layout.html' %}

{% block body %}

{% for k in range(14) %}

<h4>Kolejka {{k+1}}</h4>
<div class="table-responsive">
    <table class="table w-100 table-responsive">
        <tr>{% for i in range(4) %}
            <td class="col host all">
                {{game[k][i][4]}}
            </td>
            <td class="col guest all">{{game[k][i][5]}}</td>
            <td class="col result all"><strong>0-0</strong></td>
            <td class="col term all">{{game[k][i][0]}}.{{game[k][i][1]}}.{{game[k][i][2]}} g. {{game[k][i][3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<p class="mb-5"></p>
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/celuloza.js') }}"></script>
{% endblock %}