{% extends 'layout.html' %}

{% block body %}

    <div class="head text-uppercase text-center">Terminarz Senior</div>

    <h4 class="mt-3">Następny mecz:</h4>

    {% set ts = games[1][3] | string %}
    <p class="date text-center">{{ ts[8:10] }}.{{ ts[5:7] }}.{{ ts[0:4] }} g.{{ ts[11:16] }}</p>
    <div class="table-responsive mb-5">
        <table class="table w-100 table-responsive">
            <tr>
                <td class="col text-center"><img class="img-fluid w-25 change"
                                                 src="{{ url_for('static', filename='images/logo.png') }}" alt="
                    logo"></td>
                <td class="col text-center"><img class="img-fluid w-25 pb-3 change"
                                                 src="{{ url_for('static', filename='images/logo.png') }}" alt="
                    logo"></td>
            </tr>
            <tr>
                <td class="col host all text-center club">
                    {{ games[1][1] }}
                </td>
                <td class="col guest all text-center club">{{ games[1][2] }}</td>
            </tr>
        </table>
    </div>




    {% for k in range(34) %}

        <h4>{{ kolejka[k] }}</h4>

        <h6 class="mt-3">{{ pauza[k] }}</h6>
        <div class="table-responsive-xxl">
            <table class="table w-100 d-none d-sm-table">
                <tr>{% for i in range(16) %}
                    {% set count = i %}
                    {% if count is divisibleby 2 %}
                        <td class="col host all">{{ clubs[k][i] }}</td>
                        <td class="col guest all">{{ clubs[k][i+1]}}</td>
                        {% set x = i/2 |int %}
                        <td class="col result all"><strong>{% set res = (x | string) [:-2] %} {% set d = res | int %}
                            {{ wynik[k][d] }}</strong></td>
                        <td class="col term-small all">{% set test2 = (x | string) [:-2] %}
                            {% set d = test2 | int %}
                            {{ terms[k][d] }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>

            <table class="table w-100 d-table d-sm-none">
                <tr>{% for i in range(16) %}
                    {% set count = i %}
                    {% if count is divisibleby 2 %}
                        <td class="col host all">{{ clubs[k][i] }}</td>
                        <td class="col guest all">{{ clubs[k][i+1]}}</td>
                        {% set x = i/2 |int %}
                        <td class="col result all"><strong>{% set res = (x | string) [:-2] %} {% set d = res | int %}
                            {{ wynik[k][d] }}</strong></td>
                        <td class="col term all">{% set test2 = (x | string) [:-2] %} {% set d = test2 | int %}
                            {{ terms[k][d] }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>

        </div>
        <p class="mb-4"></p>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/celuloza.js') }}"></script>
{% endblock %}