{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1 class="mb-4 text-center">Zapisy UKS Celuloza</h1>
    <a class="d-block text-decoration-none text-center fs-4" href="https://uksceluloza.pl">www.uksceluloza.pl</a>
</div>
<p class="justify mt-4">UKS Celuloza prowadzi zapisy przez cały rok kalendarzowy. Dla każdego
    znajdzie się miejsce, bez
    względu na umiejętności, wagę czy predyspozycje fizyczne. Zapraszamy wszystkie dzieci. My
    nie prowadzimy
    selekcji.
    Każde dziecko jest równe. Szczególnie zachęcamy do zapisów do najmłodszej grupy wiekowej -
    rocznika 2016.
    <strong>Pierwszy miesiąc jest bezpłatny i niezobowiązujacy, aby poznać czy dziecko
        zaklimatyzuje sie w
        grupie i będzie miało radość z zabaw ruchowych.</strong>
</p>
<p class="justify">
    Zajęcia prowadzone są przez dwóch trenerów w każdym roczniku a maksymalna liczebność grupy
    to 20 osób.
</p>

<p class="justify"><strong>Składka miesięczna: </strong>100 złotych. Każde kolejne dziecko w
    klubie to -50%
    opłaty.</p>
<p class="justify text-danger"><strong>
        Całkowicie zwalniamy z opłaty za dzieci w trudnej sytuacji materialnej.</strong>
</p>

<h3>W ramach zajęć dzieci otrzymują nieodpłatnie:</h3>
<ul>
    <li>bezpłatny pierwszy miesiąc;</li>
    <li>bezpłatne treningi bramkarskie dla chętnych dzieci;</li>
    <li>strój treningowy;</li>
    <li>strój meczowy;</li>
    <li>dres;</li>
    <li>ortalion;</li>
    <li>transport na turnieje i mecze busem/autobusem z licencjonowanym kierowcą.</li>
</ul>

<h4 class="mb-3 text-center">Formularz zapisów:</h4>

<form action="https://formsubmit.co/zapisy@uksceluloza.pl" method="POST" class="text-center mb-5">
    <input type="hidden" name="_captcha" value="false">
    <div class="form-group mb-3">
        <label for="name" class="form-label">Imię i nazwisko dziecka</label>
        <input type="text" class="form-control" id="name" name="Dane dziecka" required>
    </div>
    <div class="form-group mb-3">
        <label for="rocznik">Rok urodzenia dziecka</label>
        <select class="form-control" id="rocznik" name="Rocznik">
            <option value=""></option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
        </select>
    </div>
    <div class="form-group mb-3">
        <label for="name" class="form-label">Numer telefonu</label>
        <input type="number" class="form-control" id="name" name="Telefon" required>
    </div>
    <div class="form-group mb-3">
        <label for="mail" class="form-label">Adres mailowy</label>
        <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" name="e-mail">
        <input type="hidden" name="_next" value="https://uksceluloza.pl/sent.html">
        <input type="hidden" name="_template" value="table">
    </div>
    <button type="submit" class="btn btn-lg btn-primary text-uppercase">Zapisz</button>
</form>
<img class="img-fluid mb-3" src="{{url_for('static', filename='images/nabor.jpg')}}" alt="Nabór">
<img class="img-fluid mb-3" src="{{url_for('static', filename='images/2015.jpg')}}" alt="Nabór">
<img class="img-fluid mb-3" src="{{url_for('static', filename='images/2014.jpg')}}" alt="Nabór">
<img class="img-fluid mb-3" src="{{url_for('static', filename='images/2013.jpg')}}" alt="Nabór">
<img class="img-fluid mb-3" src="{{url_for('static', filename='images/2010.jpg')}}" alt="Nabór">
{% endblock %}